body {
    background-color: rgb(113, 9, 211);
}

.home {
    font-size: 28px;
    padding: 5px;
}

.page_title, .description, .ingredients, .steps, .recipe_link, .home {
    color: black;
}

.description, .ingredients, .steps {
    font-weight: bold;
    font-size: 30px;
}

.page_title {
    font-weight: bold;
    font-size: 40px;
}

.text, .ingredient, .step {
    font-size: 25px;
    color:rgb(208, 190, 190);
    -webkit-text-stroke: .5px black;
}

.recipe_link {
    font-size: 32px;
    margin: 8px;
}

.recipe_link:hover, .home:hover {
    color: rgb(182, 16, 16);
    font-weight: bold;
}

img {
    width: 400px;
    height: auto;
}

li {
    padding: 5px;
}